body {
    margin: 0;
    background-color: rgb(242, 243, 229);
    /* background-image: url('/images/wallpaper.webp'); */

}
.btn-primary {
  background-color: rgb(58, 56, 53);
  border: none;
}
.buttons-faceshape {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

#app {
    height: 100vh;
}

.info {
    color: black;
}
.NavBar{
    font-size: 1.5rem;
    color: purple;
}

.header-page ,
.home-title { 
    width: 100%; 
    margin: 0 auto;
    text-align: center;
    background-color: burlywood;
    background-size: cover;
    background-position: center;
}
    /* background-repeat: no-repeat;
 

/* .header-page,
.home-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */
  
#hero {
color: brown;

}

.nav-item {
    font-size: 2rem;
}

footer h1 { 
    font-size: 1.0rem;
    margin-top: 60px; }

.instructions {
        font-family: Arial, sans-serif;
        font-size: 25px;
        line-height: 1.5;
        margin: 20px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.544);
        border: 10px solid #131b04;
        border-radius: 10px;
      
      }

      .about {
        background-color: burlywood;
        padding: 50px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
      }
      
      .about h1 {
        font-size: 40px;
        margin-bottom: 20px;

      }
      
      .about p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 30px;
      }
      
      .review-page {
        background-color: #F2E4CB;
        padding: 50px;
        margin: 50px 0;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .review-page h1 {
        font-size: 48px;
        margin-bottom: 20px;
        color: #FFFFFF;
      }
      
      .form {
        background-color: rgba(230, 152, 35, 0.406);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: auto;
        margin-left: 25%;
        margin-right: 25%;
      }
      
      .form label {
        font-size: 24px;
        margin-bottom: 10px;
        color: #181311;
      }
      
      .form input[type="text"] {
        font-size: 18px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: #F7E0B6;
        color: #6D4C41;
      }
      
      .form button {
        background-color: #6D4C41;
        color: #FFFFFF;
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
      
      .new-review {
        background-color: #FFFFFF;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .new-review h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #6D4C41;
      }
      
      .review-page-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        text-align: center;
      }

      .nav-color:link,
      .nav-color:visited {
        color: black;
      }
      /* .new-review p {
        font-size: 
      }      
       */