body {
    margin: 0;
    background-color: rgb(242, 243, 229);
}

#app {
    height: 100vh;
}

.info {
    color: black;
}
.NavBar{
    color: purple;
}

.header-page ,
.home-title { 
    width: 80%; 
    margin: 0 auto;
    text-align: center;
}

.nav-item {
    font-size: 2rem;
}

footer h1 { 
    font-size: 1.0rem;
    margin-top: 60px; }